@model AASTHA.Models.PatientModel
@{
    ViewBag.Title = "Modal_Edit";
}
<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Patient's Details</h4>
            </div>
            @using (Ajax.BeginForm("Modal_Edit", "Patient", new AjaxOptions { OnSuccess = "editsuccess" }))
            {
                @Html.HiddenFor(m => m.Patient_Id_Edit)
                @Html.HiddenFor(m => m.Get_View)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Firstname</label>
                                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control Capitalize", placeholder = "Enter Firstname" })
                                @Html.ValidationMessageFor(m => m.Firstname)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-5" class="control-label">Middlename</label>
                                @Html.TextBoxFor(m => m.Middlename, new { @class = "form-control Capitalize", placeholder = "Enter Middlename" })
                                @Html.ValidationMessageFor(m => m.Middlename)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-6" class="control-label">Lastname</label>
                                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control Capitalize", placeholder = "Enter Lastname" })
                                @Html.ValidationMessageFor(m => m.Lastname)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Age</label>
                                @Html.TextBoxFor(m => m.Age, new { @class = "form-control", placeholder = "Enter Age" })
                                @Html.ValidationMessageFor(m => m.Age)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Mobile</label>
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Enter Mobile" })
                                @Html.ValidationMessageFor(m => m.Mobile)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Address</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control Capitalize", placeholder = "Enter Address" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap3-typeahead.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Address').typeahead({
            source: function (term, process) {
                return $.get('@Url.Action("AutocompleteAddress")', { term: term }, function (data) {
                    return process(data);
                });
            }
        });
        $('.modal').on('hidden.bs.modal', function () {
            resetform();
            resetValidation();
        });

        $('.modal').on('shown.bs.modal', function () {
            resetValidation();
        })
    })
    function editsuccess() {
        $("#edit-modal").modal('hide');
        $("#list2").jqGrid().trigger('reloadGrid');
        savemsg("Patient");
    }
</script>
