@model AASTHA.Models.AdminModel
@{
    Layout = null;
}

@using (Ajax.BeginForm("AddEdit_Medicine", "Admin", new AjaxOptions { UpdateTargetId = "MedicineGrid", OnBegin = "blockui_rightgrid", OnComplete = "unblockui_rightgrid", OnSuccess = "OnSuccess" }))
{
    @Html.HiddenFor(m => m.page)
    <div class="row">
        @Html.HiddenFor(m => m.ViewOperation)
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownListFor(m => m.Medicine_TypeId, Model.Medicine_Type_List, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Medicine_TypeId)
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <div class="input-group"> @Html.TextBoxFor(model => model.Medicine_Name, new { @class = "form-control Capitalize", placeholder = "Enter Medicine Type" }) <span class="input-group-btn"> <input class="btn btn-primary btnadd" type="submit" value="Save Changes"></span> </div>
                @Html.ValidationMessageFor(m => m.Medicine_Name)
            </div>
        </div>
    </div>
}

