@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AASTHA.Models.GetAllMedicineWithType_Result>

@{
    Layout = null;
}
<div class="blockui_rightgrid">
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    Medicine Name
                </th>
                <th>
                    Medicine Type
                </th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
        {
            <tr>
                <td>
                    @(item.Index + ((Model.PageNumber - 1) * Model.PageSize))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.medicine_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.MedicineType)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "AddEdit_Medicine", "Admin", new { id = item.Data.medicine_typeId, page = Request.QueryString["page"] }, new AjaxOptions { UpdateTargetId = "AddEdit_Medicine" }, new { @class = "btn btn-info btn-sm" })
                    @Ajax.ActionLink("Delete", "Delete_Medicine", "Admin", new { id = item.Data.medicine_typeId, page = Request.QueryString["page"] }, new AjaxOptions { UpdateTargetId = "MedicineGrid", OnBegin = "blockui_rightgrid", OnComplete = "unblockui_rightgrid", Confirm = "Are you sure to delete" }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>
@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, page => Url.Action("MedicineGrid", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "MedicineGrid", OnBegin = "blockui_rightgrid", OnComplete = "unblockui_rightgrid", OnSuccess = "OnSuccess" }))
}
