<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AASTHA Maternity & Nursing Home" />
    <meta name="author" content="Ginesh Tandel" />
    <title>AASTHA Maternity & Nursing Home</title>
    @Styles.Render("~/bundle/corecss")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/entypo.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
</head>
<body class="page-body page-fade">
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo"> <a href=""> <img src="~/Content/images/logo%402x.png" width="120" alt="" /> </a> </div>
                    <!-- logo collapse icon -->
                    <div class="sidebar-collapse"> <a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition --> <i class="entypo-menu"></i> </a> </div>
                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="sidebar-mobile-menu visible-xs"> <a href="#" class="with-animation"><!-- add class "with-animation" to support animation --> <i class="entypo-menu"></i> </a> </div>
                </header>
                @RenderPage("~/Views/Shared/" + Request.Cookies["Layout"].Value)
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-6 col-sm-8 clearfix">
                    <ul class="user-info pull-left pull-right-xs pull-none-xsm">
                        <!-- Raw Notifications -->
                        <li class="notifications dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-attention"></i> <span class="badge badge-info">6</span> </a>
                            <ul class="dropdown-menu">
                                <li class="top">
                                    <p class="small"> <a href="#" class="pull-right">Mark all Read</a> You have <strong>3</strong> new notifications. </p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller">
                                        <li class="unread notification-success"> <a href="#"> <i class="entypo-user-add pull-right"></i> <span class="line"> <strong>New user registered</strong> </span> <span class="line small"> 30 seconds ago </span> </a> </li>
                                        <li class="unread notification-secondary"> <a href="#"> <i class="entypo-heart pull-right"></i> <span class="line"> <strong>Someone special liked this</strong> </span> <span class="line small"> 2 minutes ago </span> </a> </li>
                                        <li class="notification-primary"> <a href="#"> <i class="entypo-user pull-right"></i> <span class="line"> <strong>Privacy settings have been changed</strong> </span> <span class="line small"> 3 hours ago </span> </a> </li>
                                        <li class="notification-danger"> <a href="#"> <i class="entypo-cancel-circled pull-right"></i> <span class="line"> John cancelled the event </span> <span class="line small"> 9 hours ago </span> </a> </li>
                                        <li class="notification-info"> <a href="#"> <i class="entypo-info pull-right"></i> <span class="line"> The server is status is stable </span> <span class="line small"> yesterday at 10:30am </span> </a> </li>
                                        <li class="notification-warning"> <a href="#"> <i class="entypo-rss pull-right"></i> <span class="line"> New comments waiting approval </span> <span class="line small"> last week </span> </a> </li>
                                    </ul>
                                </li>
                                <li class="external"> <a href="#">View all notifications</a> </li>
                            </ul>
                        </li>
                        <!-- Message Notifications -->
                        <li class="notifications dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-mail"></i> <span class="badge badge-secondary">10</span> </a>
                            <ul class="dropdown-menu">

                                <li>
                                    @*<form class="top-dropdown-search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search anything..." name="s" />
                                        </div>
                                    </form>*@
                                    <ul class="dropdown-menu-list scroller">
                                        <li class="active"> <a href="#"> <span class="image pull-right"> <img src="~/Content/images/thumb-1.png" alt="" class="img-circle" /> </span> <span class="line"> <strong>Luc Chartier</strong> - yesterday </span> <span class="line desc small"> This ain’t our first item, it is the best of the rest. </span> </a> </li>
                                        <li class="active"> <a href="#"> <span class="image pull-right"> <img src="~/Content/images/thumb-2.png" alt="" class="img-circle" /> </span> <span class="line"> <strong>Salma Nyberg</strong> - 2 days ago </span> <span class="line desc small"> Oh he decisively impression attachment friendship so if everything. </span> </a> </li>
                                        <li>
                                            <a href="#">
                                                <span class="image pull-right"> <img src="~/Content/images/thumb-3.png" alt="" class="img-circle" /> </span> <span class="line">
                                                    Hayden Cartwright
                                                    - a week ago
                                                </span> <span class="line desc small"> Whose her enjoy chief new young. Felicity if ye required likewise so doubtful. </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="image pull-right"> <img src="~/Content/images/thumb-4.png" alt="" class="img-circle" /> </span> <span class="line">
                                                    Sandra Eberhardt
                                                    - 16 days ago
                                                </span> <span class="line desc small"> On so attention necessary at by provision otherwise existence direction. </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="external"> <a href="mailbox/main/index.html">All Messages</a> </li>
                            </ul>
                        </li>
                        <!-- Task Notifications -->
                        <li class="notifications dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-list"></i> <span class="badge badge-warning">1</span> </a>
                            <ul class="dropdown-menu">

                                <li class="top">
                                    <p>You have 6 pending tasks</p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller">
                                        <li> <a href="#"> <span class="task"> <span class="desc">Procurement</span> <span class="percent">27%</span> </span> <span class="progress"> <span style="width: 27%;" class="progress-bar progress-bar-success"> <span class="sr-only">27% Complete</span> </span> </span> </a> </li>
                                        <li> <a href="#"> <span class="task"> <span class="desc">App Development</span> <span class="percent">83%</span> </span> <span class="progress progress-striped"> <span style="width: 83%;" class="progress-bar progress-bar-danger"> <span class="sr-only">83% Complete</span> </span> </span> </a> </li>
                                        <li> <a href="#"> <span class="task"> <span class="desc">HTML Slicing</span> <span class="percent">91%</span> </span> <span class="progress"> <span style="width: 91%;" class="progress-bar progress-bar-success"> <span class="sr-only">91% Complete</span> </span> </span> </a> </li>
                                        <li> <a href="#"> <span class="task"> <span class="desc">Database Repair</span> <span class="percent">12%</span> </span> <span class="progress progress-striped"> <span style="width: 12%;" class="progress-bar progress-bar-warning"> <span class="sr-only">12% Complete</span> </span> </span> </a> </li>
                                        <li> <a href="#"> <span class="task"> <span class="desc">Backup Create Progress</span> <span class="percent">54%</span> </span> <span class="progress progress-striped"> <span style="width: 54%;" class="progress-bar progress-bar-info"> <span class="sr-only">54% Complete</span> </span> </span> </a> </li>
                                        <li> <a href="#"> <span class="task"> <span class="desc">Upgrade Progress</span> <span class="percent">17%</span> </span> <span class="progress progress-striped"> <span style="width: 17%;" class="progress-bar progress-bar-important"> <span class="sr-only">17% Complete</span> </span> </span> </a> </li>
                                    </ul>
                                </li>
                                <li class="external"> <a href="#">See all tasks</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Raw Links -->
                <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                    <ul class="user-info pull-right pull-none-xsm">
                        <!-- Profile Info -->
                        <li class="profile-info dropdown">
                            <!-- add class "pull-right" if you want to place this from right --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/Content/images/thumb-1%402x.png" alt="" class="img-circle" width="44" /> Dr. Bhaumik Tandel </a>
                            <ul class="dropdown-menu">
                                <!-- Reverse Caret -->
                                <li class="caret"></li>
                                <!-- Profile sub-links -->
                                <li> <a href="extra/timeline/index.html"> <i class="entypo-cog"></i> Edit Profile </a> </li>
                                <li> <a href="/Account/Logout"> <i class="entypo-logout"></i> Logout </a> </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
            <hr />
            @RenderBody()
            <br />
            <footer class="main">
                <div class="pull-right"><strong> Developed by <a href="http://gineshtandel.com" target="_blank">GINESH TANDEL</a></strong> </div>
                &copy; @DateTime.Now.Year <strong>AASTHA Maternity</strong>
            </footer>
        </div>
    </div>
    <h1 id="loader" style="display:none"><img src="../Content/loader.gif" />Please Wait...</h1>
</body>
</html>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Common.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
@Scripts.Render("~/bundles/corejs")

<style>
    .loader {
        border: none;
        padding: 15px;
        background-color: #000;
        -webkit-border-radius: '10px';
        -moz-border-radius: 10px;
        opacity: .5;
        color: #fff;
    }
</style>

