@model AASTHA.Models.AdminModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<body>
    @using (Ajax.BeginForm("AddEdit_OperationType", "IPD", new AjaxOptions { UpdateTargetId = "Grid_Operation", OnBegin = "blockui_rightgrid", OnComplete = "unblockui_rightgrid", OnSuccess = "OnSuccess" }))
    {
        @Html.HiddenFor(m => m.page)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group"> @Html.TextBoxFor(model => model.Operation_Type, new { @class = "form-control Capitalize", placeholder = "Enter Operation Type Title" }) <span class="input-group-btn"> <input class="btn btn-primary btnadd" type="submit" value="Save Changes"></span> </div>
                    @Html.ValidationMessageFor(m => m.Operation_Type)
                </div>
            </div>
        </div>
    }
</body>
</html>
