@{
    ViewBag.Title = "Modal_Edit";
    Layout = null;
}
@model AASTHA.Models.IPDModel


<link href="~/Content/css/Gujarati_Invoice_Style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/js/select2/select2-bootstrap.css" id="style-resource-1">
<link rel="stylesheet" href="~/Content/js/selectboxit/jquery.selectBoxIt.css" id="style-resource-3">
<link rel="stylesheet" href="~/Content/js/select2/select2.css" id="style-resource-2">
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

<div class="modal fade" id="edit-modal">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">IPD Patient's Details</h4>
            </div>

            @using (Ajax.BeginForm("Modal_Edit", "IPD", new AjaxOptions { OnSuccess = "editsuccess", }))
            {
                @Html.HiddenFor(m => m.Get_View)

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="about">Invoice No.</label>
                                @Html.TextBoxFor(m => m.IPD_Id_Edit, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IPD_Id_Edit)
                            </div>
                        </div>
                        <div class="col-md-4 selectContainer">
                            <div class="form-group">

                                <label class="control-label" for="full_name">Full Name</label>

                                

                                <input id="Patient_Id" name="Patient_Id" required>
                                @Html.ValidationMessageFor(m => m.Patient_Id)
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label class="control-label" for="about">Room Type</label>
                                @Html.DropDownListFor(m => m.Room_Type, (IEnumerable<SelectListItem>)ViewBag.Room_Type_List, "Select ", new { @class = "selectboxit" })
                                @Html.ValidationMessageFor(m => m.Room_Type)
                            </div>
                        </div>
                        <div class="col-md-3 selectContainer">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Addmission Date</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Addmission_Date, new { @class = "form-control datepicker", placeholder = "Enter Date" })
                                    <div class="input-group-addon"> <a href="#"><i class="entypo-calendar"></i></a> </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Addmission_Date)
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label class="control-label" for="about">IPD Type</label>
                                @Html.DropDownListFor(m => m.IPD_Type, (IEnumerable<SelectListItem>)ViewBag.IPD_Type_List, "Select ", new { @class = "selectboxit" })
                                @Html.ValidationMessageFor(m => m.IPD_Type)
                            </div>
                        </div>
                        <div class="col-md-3 selectContainer">
                            <div class="form-group">
                                <label class="control-label" for="full_name">Discharge Date</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Discharge_Date, new { @class = "form-control datepicker", placeholder = "Enter Date" })
                                    <div class="input-group-addon"> <a href="#"><i class="entypo-calendar"></i></a> </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Discharge_Date)
                            </div>
                        </div>
                    </div>
                    <div id="Delivery">
                        <div class="row">
                            <div class="col-md-4 selectContainer">
                                <div class="form-group">
                                    <label class="control-label" for="full_name">Delivery Date</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Delivery_Date, new { @class = "form-control datepicker", placeholder = "Enter Date" })
                                        <div class="input-group-addon"> <a href="#"><i class="entypo-calendar"></i></a> </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Delivery_Date)
                                </div>
                            </div>
                            <div class="col-md-4 selectContainer">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Delivery Time</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Delivery_Time, new { @class = "form-control timepicker" })
                                        @*<input type="text" class="form-control timepicker" data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true" data-minute-step="5" data-second-step="5">*@
                                        <div class="input-group-addon"> <a href="#"><i class="entypo-clock"></i></a> </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Delivery_Time)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Type of Delivery</label><br />
                                    @Html.DropDownListFor(m => m.Delivery_Type, (IEnumerable<SelectListItem>)ViewBag.Delivery_Type_List, new { @class = "multiselect", multiple = "multiple", name = "type" })
                                    @Html.ValidationMessageFor(m => m.Delivery_Type)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="about">Diagnosis</label>
                                    @Html.DropDownListFor(m => m.Delivery_Diagnosis, (IEnumerable<SelectListItem>)ViewBag.Delivery_Diagnosis_List, "Select", new { @class = "selectboxit" })
                                    @Html.ValidationMessageFor(m => m.Delivery_Diagnosis)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Baby Gender</label>
                                    @Html.DropDownListFor(m => m.Baby_Gender, (IEnumerable<SelectListItem>)ViewBag.Baby_Gender_List, "Select", new { @class = "selectboxit" })
                                    @Html.ValidationMessageFor(m => m.Baby_Gender)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Baby Weight</label>
                                    @Html.TextBoxFor(m => m.Baby_Weight, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Baby_Weight)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Operation">
                        <div class="row">
                            <div class="col-md-4 selectContainer">
                                <div class="form-group">
                                    <label class="control-label" for="about">Operation Date</label>
                                    @Html.TextBoxFor(m => m.Operation_Date, new { @class = "form-control datepicker", placeholder = "Enter Date" })
                                    @Html.ValidationMessageFor(m => m.Operation_Date)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Diagnosis</label><br />
                                    @Html.DropDownListFor(m => m.Operation_Diagnosis, (IEnumerable<SelectListItem>)ViewBag.Operation_Diagnosis_List, new { @class = "multiselect", multiple = "multiple" })
                                    @Html.ValidationMessageFor(m => m.Operation_Diagnosis)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Operation Type</label><br />
                                    @Html.DropDownListFor(m => m.Operation_Type, (IEnumerable<SelectListItem>)ViewBag.Operation_Type_List, new { @class = "multiselect", multiple = "multiple" })
                                    @Html.ValidationMessageFor(m => m.Operation_Type)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="General">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="about">Diagnosis</label><br />
                                    @Html.DropDownListFor(m => m.General_Diagnosis, (IEnumerable<SelectListItem>)ViewBag.General_Diagnosis_List, new { @class = "multiselect", multiple = "multiple" })
                                    @Html.ValidationMessageFor(m => m.General_Diagnosis)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Charges" class="col-lg-12">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
<script src="~/Content/js/select2/select2.min.js" id="script-resource-8"></script>
<script src="~/Content/js/selectboxit/jquery.selectBoxIt.min.js" id="script-resource-11"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Content/js/bootstrap-timepicker.min.js"></script>
<script>
    
    $(document).ready(function () {       
        $("#Delivery").hide();
        $("#Operation").hide();
        $("#General").hide();

        $("select").change(function () {
            $(this).valid();
        });


        $('.multiselect').multiselect({
            buttonWidth: '100%',
        });

        $("#Addmission_Date").change(function () {
            $(this).valid();
        })
        $("#Discharge_Date").change(function () {
            $(this).valid();
        })
        $("#Delivery_Date").change(function () {
            $(this).valid();
        })
        $("#Delivery_Time").change(function () {
            $(this).valid();
        })
        $("#Operation_Date").change(function () {
            $(this).valid();
        })
        $("#Delivery_Diagnosis").change(function () {
            $(this).valid();
        })
        $("#Baby_Gender").change(function () {
            $(this).valid();
        })
        $('.timepicker').timepicker({
            showInputs: false,
            minuteStep: 1
        });
        $('.modal').on('hidden.bs.modal', function () {
            resetform();
            resetselect2();
            resetselectboxit();
            resetValidation();
            resetmultiselect();
        });

        //$('.modal').on('shown.bs.modal', function () {
           
        //})
        $("#Patient_Id").select2(
                     {
                         minimumInputLength: 1,
                         placeholder: "Select a Patient",
                         allowClear: true,
                         ajax: {
                             url: "@Url.Action("BindPatient", "Patient")",
                             dataType: 'json',
                             type: "GET",
                             quietMillis: 50,
                             data: function (term) {
                                 return {
                                     term: term
                                 };
                             },
                             results: function (data) {
                                 return {
                                     results: $.map(data, function (item) {
                                         return {
                                             text: item.full_name,
                                             id: item.patient_Id
                                         }
                                     })
                                 };
                             }
                         }
                     });
    })
    
    function editsuccess() {
        $("#edit-modal").modal('hide');
        $("#list2").jqGrid().trigger('reloadGrid');
        savemsg("IPD");
    }
</script>
